. {
    width: 56px;
    height: 56px;
    background: transparent;
    position: relative;
  }
  
  . {
    position: absolute;
    width: 56px;
    height: 3px;
    transition: all 0.2s;
    background-color: #000;
  }
  
  . {
    top: 15px;
    left: 0;
  }
  
  . {
    bottom: 15px;
    left: 0;
  }
  
  . {
    -webkit-transform: translateY(11px) rotate(45deg);
    transform: translateY(11px) rotate(45deg);
  }
  
  . {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
  }
  